  <footer class="bg-dark text-white">
    <div class="d-flex">
      <div class="col-md-4">
        <p class="text-center">conditions générales
        </p>
      </div>
      <div class="col-md-4">
        <p class="text-center">mentions legales</p>
      </div>
      <div class="col-md-4">
        <p class="text-center">fiche de l'entreprise</p>
      </div>
    </div>
  </footer>