 <!-- section avec carousel list de card -->
  <section class="container d-flex justify-content-center align-items-center bg-dark bg-opacity-10">
    <div class="col-lg-8">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class=" card-body carousel-inner">
          <div class="card carousel-item active">
            <div class="row">
              <div class="col-lg-8">
                <img src="/assets/images//auto.jpg" alt="" class="img-fluid rounded-start" srcset="">
              </div>
              <div class=" card-body col-lg-4 mt-5 row">
                <h6 class="card-title"> Le Permis auto (Permis B)</h6>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et in inventore ab
                  necessitatibus.
                  Eligendi, quis, in veritatis ratione tempore quod aperiam iusto pariatur amet architecto voluptate
                  quo, fuga corrupti non.
                </p>
                <div class=" d-flex justify-content-center align-items-end">
                  <button class="btn btn-outline-secondary" type="submit">Inscription sur le site</button>
                </div>
              </div>
            </div>
          </div>

          <div class="card carousel-item">
            <div class="row">
              <div class="col-lg-8">
                <img src="/assets/images//moto1.jpg" alt="" class="img-fluid rounded-start" srcset="">
              </div>
              <div class="card-body col-lg-4 mt-5 row">
                <h6 class="card-title">Le Permis moto (Permis A)</h6>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et in inventore ab
                  necessitatibus.
                  Eligendi, quis, in veritatis ratione tempore quod aperiam iusto pariatur amet architecto voluptate
                  quo, fuga corrupti non.
                </p>
                <div class="d-flex justify-content-center align-items-end">
                  <button class="btn btn-outline-secondary" type="submit">Inscription sur le site</button>
                </div>
              </div>
            </div>
          </div>

          <div class="card carousel-item">
            <div class="row">
              <div class="col-lg-8">
                <img src="/assets/images//vespa.jpg" alt="" class="img-fluid rounded-start" srcset="">
              </div>
              <div class=" card-body col-lg-4 mt-5 row">
                <h6 class="card-title">Permis Scooter (Permis AM)</h6>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et in inventore ab
                  necessitatibus.
                  Eligendi, quis, in veritatis ratione tempore quod aperiam iusto pariatur amet architecto
                  voluptate
                  quo, fuga corrupti non.
                </p>
                <div class="d-flex justify-content-center align-items-end">
                  <button class="btn btn-outline-secondary" type="submit">Inscription sur le site</button>
                </div>

              </div>
            </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="">Next</span>
          </button>
        </div>
      </div>
    </div>

  </section>
  <!-- fin de section carousel --><div class="row my-1 justify-content-center">

   <span class="border-bottom border-secondary"style="width: 18rem; margin: 10px;"></span>
   
  </div>