{{> home/photoheader }}

<div>
    <ul>
        {{#each users }}
            <li> {{ name }} </li>
        {{/each }}
    </ul>
</div>


{{> home/presentation }}
{{> home/carousel }}
{{> home/formulaire }}


{{> admin/tableUsers }}